<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisecrab.wc_flutter_share">

    <application>
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/xml" />
    </application>

</manifest>